.carrinho-card {
  width: 420px;
  padding: 32px 24px;
  border: 1.5px solid #2c3e66;
  text-align: center;
  background: #f8f9fb;
  margin: 32px auto;
}
.subtitle {
  font-size: 32px;
  letter-spacing: 1px;
}
.itens-card {
  width: 210px;
  padding: 16px 12px;
  border: 0.5px solid #2c3e66;
  text-align: center;
  background: #f8f9fb;
  margin: 16px auto;
}
.itens-quantity {
  font-size: 64px;
  font-weight: bold;
  color: #0a8a8f;
  margin: 12px 0 0;
}

.itens-price {
  font-size: 24px;
  font-weight: 600;
  color: #2c3e66;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #d1d1d1;
  margin: 24px auto;
}


.peso-botoes2 {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

